$mdc-typography-font-family: unquote("Rubik, sans-serif");
$heading-font: unquote("Roboto Serif, serif");
$body-font: unquote("Rubik, sans-serif");
$monospace-font: unquote("Noto Sans Mono, monospace");

@function toRem($px) {
  @return ($px / 16) * 1rem;
}

$styles: (
  headline1: (
    font-family: $heading-font,
    font-size: toRem(95),
  ),
  headline2: (
    font-family: $heading-font,
    font-size: toRem(59),
  ),
  headline3: (
    font-family: $heading-font,
    font-size: toRem(48),
  ),
  headline4: (
    font-family: $heading-font,
    font-size: toRem(34),
  ),
  headline5: (
    font-family: $heading-font,
    font-size: toRem(24),
  ),
  headline6: (
    font-family: $heading-font,
    font-size: toRem(20),
  ),
  body1: (
    font-family: $body-font,
    font-size: toRem(16),
  ),
  body2: (
    font-family: $body-font,
    font-size: toRem(14),
  ),
  subtitle1: (
    font-family: $heading-font,
    font-size: toRem(16),
  ),
  subtitle2: (
    font-family: $heading-font,
    font-size: toRem(14),
  ),
  button: (
    font-family: $body-font,
    font-size: toRem(14),
  ),
  overline: (
    font-family: $body-font,
    font-size: toRem(10),
  ),
  caption: (
    font-family: $body-font,
    font-size: toRem(12),
  ),
  monospace: (
    body1: (
      font-family: $monospace-font,
      font-size: toRem(16),
    ),
    body2: (
      font-family: $monospace-font,
      font-size: toRem(14),
    ),
    button: (
      font-family: $monospace-font,
      font-size: toRem(14),
    ),
    overline: (
      font-family: $monospace-font,
      font-size: toRem(10),
    ),
    caption: (
      font-family: $monospace-font,
      font-size: toRem(12),
    ),
  ),
);
