@use "palette.module" as palette;
@use "typography-variables";
@use "@material/typography" with (
  $font-family: typography-variables.$body-font,
  $styles-headline1: map-get(typography-variables.$styles, headline1),
  $styles-headline2: map-get(typography-variables.$styles, headline2),
  $styles-headline3: map-get(typography-variables.$styles, headline3),
  $styles-headline4: map-get(typography-variables.$styles, headline4),
  $styles-headline5: map-get(typography-variables.$styles, headline5),
  $styles-headline6: map-get(typography-variables.$styles, headline6),
  $styles-body1: map-get(typography-variables.$styles, body1),
  $styles-body2: map-get(typography-variables.$styles, body2),
  $styles-subtitle1: map-get(typography-variables.$styles, subtitle1),
  $styles-subtitle2: map-get(typography-variables.$styles, subtitle2),
  $styles-button: map-get(typography-variables.$styles, button),
  $styles-overline: map-get(typography-variables.$styles, overline),
  $styles-caption: map-get(typography-variables.$styles, caption)
);

@use "@material/ripple";
@use "@material/theme";
@use "@material/icon-button/mdc-icon-button";
@use "@material/snackbar/mdc-snackbar";
@use "@material/top-app-bar/mdc-top-app-bar";

@import "normalize.css/normalize.css";

@include ripple.core-styles;
@include typography.core-styles;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.material-icons {
  font-family: "Material Icons Outlined";
}

.black {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

@each $color, $shades in palette.$palette {
  @each $shade, $value in $shades {
    $text-color: theme.accessible-ink-color($value);
    .#{$color}-#{$shade} {
      background-color: $value;
      color: $text-color;
      @include ripple.states($text-color);
    }
  }
}
