@use "@material/animation";
@use "@material/elevation";
@use "@material/ripple";
@use "@material/theme";
@use "@material/top-app-bar";
@use "palette.module" as palette;
@use "util";

.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  .app-bar {
    @include elevation.elevation(4);
    @include top-app-bar.fill-color-accessible(
      util.map-deep-get(palette.$palette, red, 500)
    );
    .app-bar-icon {
      animation: animation.standard(
          on-rainbow,
          3000ms * length(palette.$palette)
        )
        infinite;
      $color: theme.accessible-ink-color(
        util.map-deep-get(palette.$palette, red, 500)
      );
      color: $color;
      @include ripple.states($color);
    }
    animation: animation.standard(rainbow, 3000ms * length(palette.$palette))
      infinite;
  }
  .palette-grid {
    flex: 1 1;
    min-height: 0;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  }
}

@keyframes rainbow {
  @each $color, $shades in palette.$palette {
    $i: index(palette.$palette, $color $shades);
    $percent: 0% + ((($i - 1) / length(palette.$palette)) * 100);
    #{$percent} {
      @include top-app-bar.fill-color-accessible(map-get($shades, 500));
    }
  }
}

@keyframes on-rainbow {
  @each $color, $shades in palette.$palette {
    $i: index(palette.$palette, $color $shades);
    $percent: 0% + ((($i - 1) / length(palette.$palette)) * 100);
    #{$percent} {
      $color: theme.accessible-ink-color(map-get($shades, 500));
      color: $color;
    }
  }
}
