@use "@material/elevation";
@use "@material/ripple";
@use "@material/theme";
@use "palette.module" as palette;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .app-bar {
    @include elevation.elevation(4);
  }
  .palette-grid {
    flex: 1 1;
    min-height: 0;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows, 10), 1fr);
  }
}

@each $color, $shades in palette.$palette {
    .app-bar:global(.#{$color}-500) .nav-icon {
      $ink-color: theme.accessible-ink-color(map-get($shades, 500));
      color: $ink-color;
      @include ripple.states($ink-color)
    }
}